body{
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
    background-color: black;
}

.info{
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: gray;
    border-color: blanchedalmond;
    width: 225px;
    height: 225px;
    transform: translate(-50%,-50%);
    padding: 20px;
    border-radius: 8px;
}
h1 {
    text-align: center;
    color: wheat;
}
label {
    color: wheat;
}
input {
    border: none;
    outline: none;
    border-bottom: 1px solid wheat;
    background: transparent;
    cursor: pointer;
}

.button{
    width: 70px;
    height: 25px;
    border-radius: 10px;
    margin-left: 30%;
    border: none;
    outline: none;
    background-color: wheat;
    cursor: pointer;
    font: bold;
}